@font-face {
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

:root {
  --dark-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
}

html {
  box-sizing: border-box;
  font-size: 62.6%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.img-container {
  background: url('./assets/images/illustration-sign-up-mobile.svg') no-repeat;
}

.form-container {
  font-size: 1.6rem;
}

.form-container > div {
  padding-left: 22px;
  padding-right: 54px;
}

h1,
label {
  color: var(--dark-grey);
  font-weight: 700;
  font-family: 'Roboto Bold', sans-serif;
}

p,
ul {
  color: var(--charcoal-grey);
  font-weight: 400;
  font-family: 'Roboto Regular', sans-serif;
}

p {
  margin-top: 24px;
  margin-bottom: 34px;
}

li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

li::before {
  content: '';
  width: 20px;
  height: 20px;
  background: url('./assets/images/icon-list.svg') center/cover no-repeat;
  margin-right: 16px;
}

@media (max-width: 375px) {
  .img-container {
    min-height: 34vh;
    background-size: contain;
  }
}

@media (min-width: 376px) {
  .img-container {
    min-height: 40vh;
    background-size: cover;
    background-position: bottom;
  }

  h1 {
    margin-top: 42px;
  }
}

form {
  padding: 22px;
}

label {
  display: block;
}

input,
button {
  display: inline-block;
  width: 100%;
  padding: 18px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  font-size: 1.6rem;
}

input {
  margin: 10px 0;
  margin-bottom: 24px;
}

input:hover {
  cursor: pointer;
  border-color: var(--charcoal-grey);
}

input:focus {
  border-color: 2px solid var(--charcoal-grey);
  outline: none;
}

button {
  background-color: var(--dark-grey);
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-color: transparent;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 83, 121, 1) 0%,
    rgba(255, 104, 62, 1) 60%
  );
}

@media (min-width: 992px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
  }

  .container {
    display: flex;
    width: 926px;
    height: 640px;
    border-radius: 26px;
    background-color: white;
  }

  .form-container,
  .img-container {
    width: 50%;
  }

  .img-container {
    order: 2;
    background: none;
    padding: 26px 42px;
    padding-right: 22px;
  }

  .form-container {
    padding-left: 64px;
  }

  .form-container > div {
    padding-right: 22px;
    padding-left: 0;
  }

  form {
    padding-left: 0;
  }

  h1 {
    padding-top: 58px;
  }

  .lg-background {
    height: 100%;
    background: url('./assets/images/illustration-sign-up-desktop.svg')
      no-repeat;

    border-radius: 22px;
  }
}
